body {
    margin: 0;
}


header {
    position: sticky;
    top: 0;
    background-color: #fffdfd;
    height: 70px;
    box-shadow: 0px 3px 2px #f7f7f7;
}

header h1 {
    display: inline-block;
    margin: 0;
    padding: 17px;
    padding-left: 50px;
    font-size: 30px;    
}

header nav {
    position: absolute;
    right: 20px;
    top: 0px;
    font-size: 20px;
}

header nav ul {
    margin: 25px;
}

header nav li {
    display: inline;
    padding: 10px;
}
header nav li:hover {
    text-decoration: underline;
}


section {
    padding: 40px;
    padding-inline: 15%;
    height: 812px;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
}
section:first-of-type {
    padding-top: 110px;
}

section.gray-background {
    background-color: #f7f7f7;
}

section h3 {
    display: inline-block;
    position: relative;
    margin: 0;
    padding-left: 48px;
    font-size: 25px;
}

section h3::before {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 28px;
    height: 3px;
    background-color: #000;
    content: '';
}


section h1 {
    font-size: 120px;
    margin: 0px 0px 20px;
}


section p {
    font-size: 36px;
    width: 800px;
    margin: auto;
    margin-bottom: 150px;
}

section img {
    width: 1000px;
}



section h2 {
    font-size: 73px;
    margin: 0 0 20px;
}



section#IconjarPackage {
    position: relative;
    margin-top: 230px;
    padding-top: 0;
}
section#IconjarPackage div {
    position: relative;
    text-align: left;
    height: 10px;
    top: -180px;
}

section#IconjarPackage h2 {
    display: inline;
    position: absolute;
    left: 35px;
    top: 200px;
    width: 250px;
}

section#IconjarPackage p {
    display: inline;
    position: absolute;
    left: 35px;
    top: 400px;
    width: 250px;
}

section#IconjarPackage img {
    width: 800px;
    position: absolute;
    left: 400px;
    top: 150px;
    border-radius: 7px;
}
section#IconjarPackage div::before {
    background-image: url(imgs/pattern.png);
    content: '';
    position: absolute;
    top: -50px;
    left: 600px;
    width: 570px;
    height: 600px;
}


section#FileFormats {
    position: relative;
}
section#FileFormats::before {
    background-image: url(imgs/pattern.png);
    content: '';
    position: absolute;
    top: 365px;
    left: 0;
    width: 100%;
    height: 310px;
    z-index: 1;
}
section#FileFormats img {
    position: relative;
    z-index: 2;
}

.black-background {
    background-color: #000;
    color: #fff;
}


#testimonials {
    position: relative;
    text-align: left;
}

#testimonials img {
    width: 120px;
    border-radius: 200px;
    position: absolute;
    top: 600px;
    left: 450px;
}

#testimonials p {
    position: relative;
    padding-top: 200px;
    width: 700px;
}
#testimonials p::before {
    background-image: url(imgs/article.png);
    content: '';
    position: absolute;
    top: 110px;
    left: 30px;
    width: 189px;
    height: 150px;
}

#testimonials h3 {
    position: absolute;
    top: 640px;
    left: 530px;
}
#testimonials h3::before {
    display: none;
}

#testimonials h4 {
    font-size: 1.1em;
    color: #ffffff80;
    position: absolute;
    padding-left: 50px;
    top: 650px;
    left: 530px;
}

li {
    font-size: 25px;
    font-weight: bold;
    display: inline-block;
    list-style: none;
    padding: 10px;
    padding-bottom: 35px;
}

ul {
    position: relative;
}
#OptSVG::before {
    content: '';
    background-color: #000;
    height: 4px;
    width: 205px;
    position: absolute;
    top: 40px;
}



#CustomIcons {
    position: relative;
}
#CustomIcons::before {
    background-image: url(imgs/pattern.png);
    content: '';
    height: 600px;
    width: 1046px;
    position: absolute;
    top: 340px;
    left: 280px;
    z-index: 0;
}
#CustomIcons img {
    position: relative;
    z-index: 1;
}


#FilesList {
    position: relative;
    z-index: 2;
    color: #fff;
}

#FilesList ul {
    margin: 0;
    padding-left: 0;
    padding-top: 100px;
}
#FilesList li {
    display: inline-block;
    width: 21%;
    height: 200px;
}

#FilesList h3::before {
    display: none;
}

#FilesList svg{
    fill: #fff;
    height: 48px;
}

#FilesList h3 {
    font-size: 25px;
    padding-left: 0;
    padding-bottom: 10px;
    width: 240px;
}

#FilesList p {
    font-size: 17px;
    font-weight: normal;
    width: 210px;
}

